layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane edit="flake.nix"
    pane {
      command "just"
      args "watch"
    }
  }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
}
