layout {

    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:/Users/ocean.lewis/.nix-profile/bin/zjstatus.wasm" {
            format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
            format_right "{command_git_branch} {datetime}"
            format_space ""

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            hide_frame_for_single_pane "true"

            // mode_normal  "#[bg=blue] "
            // mode_tmux    "#[bg=#ffc387] "
            mode_normal        "#[bg=#F8F8F3] {name} "
            mode_locked        "#[bg=#F8F8F3] {name} "
            mode_resize        "#[bg=#F8F8F3] {name} "
            mode_pane          "#[bg=#F8F8F3] {name} "
            mode_tab           "#[bg=#F8F8F3] {name} "
            mode_scroll        "#[bg=#F8F8F3] {name} "
            mode_enter_search  "#[bg=#F8F8F3] {name} "
            mode_search        "#[bg=#F8F8F3] {name} "
            mode_rename_tab    "#[bg=#F8F8F3] {name} "
            mode_rename_pane   "#[bg=#F8F8F3] {name} "
            mode_session       "#[bg=#F8F8F3] {name} "
            mode_move          "#[bg=#F8F8F3] {name} "
            mode_prompt        "#[bg=#F8F8F3] {name} "
            mode_tmux          "#[bg=#F8F8F3] {name} "

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "

            command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
            command_git_branch_format      "#[fg=blue] {stdout} "
            command_git_branch_interval    "10"
            command_git_branch_rendermode  "static"

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "America/Los_Angeles"
        }
    }
}
